:root{
    --text: #000000;
}
h1,h3{
    text-align: center;
}
.navbar ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
    padding: auto;
    overflow: hidden;

}
.navbar a{
    width: 200px;
    color:white;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #222222;
}
.navbar li{
    background-color: #5e5b5b;
    display: inline-block;
    margin-left:10px;
    margin-right:10px;
}


body, html {
    margin: 0px;
    padding: 10px;
    background: #fff9de;
    color: #000000;
    font-family: sans-serif;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

img {
    display: inline-block;
    width: 15%;
    border-radius: 15px;
    border: 4px solid #5e5b5b;
    margin-left:30%;
}

.bio{
    display:inline-block;
    margin-left:50px;
    vertical-align: top;
}

a {
    color: #000000;
}

.contact{
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 160px;
    box-sizing: border-box;
    padding: 4px 8px;
    border-width: 1px; 
    border-style: solid;
    background: none;
}

button {
    padding: 5px 10px;
    border: none;
    background: #e6e6e6;
    color: #000000;
    font-weight: bold;
    box-sizing: border-box;
    width: 160px;
}

button:hover{
    background-color: #3b3b3b;
    color:whitesmoke;
    cursor: pointer;
}
